controller:
  serviceAccount:
    create: true
    name: ${controllerName}
server:
  serviceAccount:
    create: true
    name: ${argoSAName}
  extraArgs: 
    - "--auth-mode=server" 
    - "--request-timeout=5m"
